body
{
    background-color: aliceblue; 
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;  
    padding-bottom: 50px; 
}
a 
{
    color: #00B7FF;
    text-decoration: none;
}
.photo-1
{
    background: #fff;
    padding: 10px;
    margin: 100px 0px 20px 0px;
    box-shadow: 0 0 4px #ddd;
    border: 1px solid #dddddd;
    border-radius: 10px;
    height: 500px;
}
.pre-scrollable
{
    overflow:scroll;
    overflow-x:hidden;
    height: 120px;
} 
.photo-2
{
    background: #fff;
    padding: 10px 20px;
    margin: 100px 0px 20px 0px;
    box-shadow: 0 0 4px #ddd;
    border: 1px solid #dddddd;
    border-radius: 10px;
    height: 240px;
}
.photo-3
{
    background: #fff;
    padding: 10px 20px;
    margin: 20px 0px 20px 0px;
    box-shadow: 0 0 4px #ddd;
    border: 1px solid #dddddd;
    border-radius: 10px;
    height: 240px;
}
.myrow
{
    margin-top: 30px
}
.activity_block
{
    height:300px;
    border:1px solid #dddddd;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
}








