.DS_Store
*.out
*.o

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
黄沈一/finalWork/node_modules
黄沈一/finalWork/.pnp
黄沈一/finalWork.pnp.js

# testing
黄沈一/finalWork/coverage

# production
黄沈一/finalWork/build

# misc
黄沈一/finalWork.DS_Store
黄沈一/finalWork.env.local
黄沈一/finalWork.env.development.local
黄沈一/finalWork.env.test.local
黄沈一/finalWork.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*