<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8">
    <link rel='stylesheet' href="../public/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../public/stylesheets/activity.css"/>
    <script src="../public/jquery/jquery.js"></script>
    <script src="../public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../public/javascripts/prefixfree.min.js"></script>
    <script src="../public/javascripts/select.js"></script>
    
    <style>
      body{
        background-color: aliceblue;    
      }
      
    </style>
  </head>
  
  <body>
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                            <input id="tab1" type="radio" name="tabs" style="display: none;"  checked>
                            <label for="tab1"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> 全部众筹</label>
                          
                            <input id="tab2" type="radio" name="tabs"style="display: none;">
                            <label for="tab2"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> 我参与的众筹</label>
                          
                            <input id="tab3" type="radio" name="tabs"style="display: none;">
                            <label for="tab3"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>我创建的众筹</label>
                            
                            <a><button class="btn btn-default" style="float:right" onclick=""><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 发布众筹</button></a>

                            <section id="content1">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>众筹名称</th>
                                            <th>截止时间</th>
                                            <th>众筹进度</th>
                                            <th>众筹状态</th>
                                            <th>加入众筹</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>活动1</td>
                                            <td>2018-11-28 12:30:00</td>
                                            <td>10/100</td>
                                            <td>未达标</td>
                                            <td>
                                                <div>
                                                    <input type="text" name="" placeholder="输入金额">
                                                    <a><button class="btn btn-default"  onclick=""><span class="glyphicon glyphicon-plus"
                                                                aria-hidden="true"></span> 加入众筹</button></a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>       
                            </section>
                                
                            <section id="content2">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>众筹名称</th>
                                            <th>截止时间</th>
                                            <th>众筹进度</th>
                                            <th>众筹状态</th>
                                            <th>加入众筹</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>活动1</td>
                                            <td>2018-11-28 12:30:00</td>
                                            <td>10/100</td>
                                            <td>未达标</td>
                                            <td>
                                                <div>
                                                    <input type="text" name="" placeholder="输入金额">
                                                    <a><button class="btn btn-default" onclick=""><span class="glyphicon glyphicon-plus"
                                                                aria-hidden="true"></span> 加入众筹</button></a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                                
                            <section id="content3">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>众筹名称</th>
                                            <th>截止时间</th>
                                            <th>众筹进度</th>
                                            <th>众筹状态</th>
                                            <th>加入众筹</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>活动1</td>
                                            <td>2018-11-28 12:30:00</td>
                                            <td>10/100</td>
                                            <td>未达标</td>
                                            <td>
                                                <div>
                                                    <input type="text" name="" placeholder="输入金额">
                                                    <a><button class="btn btn-default" onclick=""><span class="glyphicon glyphicon-plus"
                                                                aria-hidden="true"></span> 加入众筹</button></a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </section>
                    </div>    
                </div>
            </div>
        </div>
  </body>
</html>

<script>
        
</script>