<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../public/stylesheets/main.css"/>
    <link rel='stylesheet' href="../public/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../public/stylesheets/intro.css"/>
    <script src="../public/jquery/jquery.js"></script>
    <script src="../public/bootstrap/js/bootstrap.min.js"></script>
    <script src="../public/javascripts/intro.js"></script>
    
    <style>
      body{
        background-color: aliceblue;    
      }
      h3{
          text-align: center;
          margin-bottom: 25px;
      }
    </style>
  </head>
  
    <body>
        
        <div class="container">
            <div class="myintro">
                <div class="col-md-offset-1 col-md-10">
                    <div class="intro_block">
                        <h3 style="text-align:center"> <span class="glyphicon glyphicon-th-list"></span> 众筹详情</h3>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div style="padding-left:50px;">
                                    <div>
                                        <h4><b>基本信息</b></h4>
                                    </div>
                                    <div>
                                        <p><b>发起人：</b>0x000000000000000000000000000000000</p>
                                    </div>
                                    <div>
                                        <p><b>众筹名称：</b>活动1</p>
                                    </div>
                                    <div>
                                        <p><b>截止时间：</b>2018.12.18 12:30:30</p>
                                    </div>
                                    <div>
                                        <p><b>众筹进度：</b>10/100</p>
                                    </div>
                                    <div>
                                        <p><b>众筹状态：</b>未达标</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <p>&nbsp</p>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div style="padding-left:50px;padding-right:50px">
                                    <div>
                                        <h4><b>当前参与者</b></h4>
                                    </div>
                                    <div>
                                        <p>0x111111111111111111111111111111111111  捐赠了10eth</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <p>&nbsp</p>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div style="padding-left:50px;padding-right:50px">
                                    <div>
                                        <h4><b>当前需求</b></h4>
                                    </div>
                                    <div>
                                        <p onclick="">需求名称</p>
                                    </div>
                                    <div>
                                        <p>需求名称</p>
                                    </div>
                                    <div>
                                        <p>需求名称</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <p>&nbsp</p>
                        </div>
                        <hr>
                        <div class="row" style="text-align:center">
                            <div class="col-md-offset-1 col-md-6" >
                                <button class="btn btn-default" ><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>返回</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>

    </script>
</html>